@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  max-height: 65px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
header #logo-name{
  font-size: 1.7em;
  margin-left: 1.2em;
  margin-top: 1em;
  font-weight: 700;
}
.s{
  color: rgb(243, 36, 36);
}
nav{
  position: fixed;
  top:0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
  background-color: #fff;
}
nav li,a{
  text-decoration: none;
  list-style-type: none;
  font-size: 1.25em;
  color: #000000;
  display: block;
  margin: 0 0.5em 1em 0.5em;
}
nav svg{
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
}
header #menu{
  margin-right: 1em;
}
.nav-items:hover{
  border-bottom: 0.150em solid;
}

#welcome-section{
  width: 100%;
  height: 100vh;
  padding: 11em 2em;
}
#welcome-section h1{
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 700;

}
#welcome-section #my-name{
  background-color: rgb(243, 36, 36,0.2);
}
#my-name:hover{
  color: #fff;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
  -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}
#welcome-section #rule{
  font-size: 1.40em;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
  -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
}
#welcome-section p{
  font-size: 1.1em;
}
#welcome-section svg{
  position: absolute;
  bottom: 1em;
  left: 1.23em;
  width: 3em;
  height: 5em;
  animation: arrowMove 1s alternate-reverse infinite;
}
#projects{
  padding: 5em 2em 0 2em;
}
#projects h2{
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 0 0.5em 0.5em;
}
.project-tile{
  height: 65vh;
  width: 100%;
  /* background-color: #92C7F7; */
  background-image: linear-gradient(to right, rgb(58, 58, 58,.8), #92C7F7);
  margin-bottom: 2.5em;
}
#projects a:nth-child(3){
  /* background-color: #FBE7C6; */
  background-image: linear-gradient(to right, rgb(58, 58, 58,.8), #FBE7C6);
}
#projects a:nth-child(4){
  /* background-color: #B4F8C8; */
  background-image: linear-gradient(to right, rgb(58, 58, 58,.8), #B4F8C8);
}
#projects a:nth-child(5){
  /* background-color: #FFAEBC; */
  background-image: linear-gradient(to right, rgb(58, 58, 58,.8), #FFAEBC);
}
.project-tile:hover{
  transform: scale(1.03);
}
.project-img{
  height: 48vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.project-tile p{
  padding: 1em 0;
  text-align: center;
  font-size: 0.8em;
  color: #000;
}
.project-tile span{
  font-weight: bold;
}
#contacts{
  padding-top: 6.5em;
  height: 35vh;
  text-align: center;
  font-size: 0.8em;
}
#contacts ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}
#contacts svg{
  width: 3em;
  height: 3em;
  cursor: pointer;
}
.nav-bar-open{
  transform: translateX(0%);
}

@media (min-width: 680px){

  #welcome-section{
    padding: 11em 5em;
  }
  header #menu{
    margin-right: 4em;
  }
  header #logo-name{
    margin-left: 2.9em;
  }
  #welcome-section h1{
    font-size: 2em;
    line-height: 2em;
    font-weight: 800;
    margin-bottom: 0;
  }
  #welcome-section #rule{
    font-size: 1.5em;
    font-weight: 800;
  }
  #welcome-section p{
    font-size: 1.25em;
    margin-right: 0.8em;
  }
  #welcome-section svg{
    bottom: -1.5em;
    left: 3em;
    width: 4em;
    height: 10em;
  }
  #projects{padding:5em 5em;}
  .project-tile{margin-bottom: 2.7}

  #contacts{padding:2em 5em;padding-top: 4.5em}
}
@media (min-width: 920px){
  header{
    height: 50px;
  }
  nav{
    position: unset;
    transform: translateX(0);
    height: auto;
    width: auto;
    background: none;
    margin-top: 2em;
    margin-right: 3.2em;
  }
  nav ul{
    display: flex;
    font-size: 0.8em;
    color: #000000;
  }
  #menu,#close{
    display: none;
  }
  #welcome-section{
    padding-top: 11em;
  }
  #welcome-section #rule{
    font-size: 2em;
  }
  #welcome-section svg{
    left: 2.8em;
    width: 5em;
    height: 10em;
  }
  #projects .project-tile{
    display: flex;
  }
  .left-picture{
    margin: 3em 0;
    height: 45vh;
    width: 40vw;
    object-fit: cover;
    object-position: top right;
  }
  .bottom-picture{
    align-self: flex-end;
    margin-left:2em;
    height: 50vh;
    width: 37vw;
    object-fit: cover;
    object-position: top right;
  }
  .project-tile p{
    padding-left: 2.5em;
    align-self: center;
    text-align: left;
    line-height: 1.5em;
    font-size: 0.95em;
  }
  .project-tile .project-title{
    font-weight: bold;
  }
  #contacts{
    font-size: 0.95em;
  }
}

@media (min-width: 1200px){
  header{
    padding-right: 5em;
    padding-left: 5em;
  }
  /* #welcome-section{
    padding-top: 9.3em;
  } */
  #welcome-section,#projects,#contacts{
    padding-right: 10em;
    padding-left: 10em;
  }
  #welcome-section svg{
    margin-left: 4em;
    bottom: -3.5em;
    height: 14em;
    width: 5em;
  }
  #welcome-section h1{
    font-size: 2.2em;
  }
  #welcome-section p{
    font-size: 1.5em;
  }
}

@keyframes arrowMove {
  from{
    transform: translateY(-40px);
  }
  to{
    transform: translateY(0);
  }
}
