*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --body-color: #F3E9DD;
  --tribute-info-color: #fff;
  --qoute-div-color: #fff;
}
body{
  background-color: var(--body-color);
  text-align: center;
}
.hero-section,.qoute-div,.link-div{
  padding: 3vmin 0;
  margin-bottom: 10vmin;
}
.group-pic{
  padding: 0;
  margin-bottom: 2.5vmin;
}
#tribute-info{
  background-color: var(--tribute-info-color);
  padding: 5vmin 4vmin;
}
.qoute-div{
  background-color: var(--qoute-div-color);
}
#solo-image,#solo-pic,
#qoute-div,#prime-minster-image{
  display: block;
  max-width: 100%;
  height: auto;
  padding: 1vmin 5vmin;
}
#img-div,#image{
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 5vmin;
}
#img-caption{
  padding: 0 5vmin;
}
#time-line{
  padding-top: 4em;
  padding-bottom: 3em;
}
.qoute{
  padding: 5vmin 5vmin;
}
ul{
  text-align: justify;
  padding: 5vmin 10vmin;
}
.title-div p, #img-caption,li,q{
  font-family: 'Poppins', sans-serif;
}
.link-div{
  margin: 4em 1em 4em 1em;
}
/* tablets 480px-720px */
@media (min-width: 480px){
  #solo-pic{
    padding: 0 15vmin;
  }
  .qoute-div{
    padding: 3em 1em;
  }
  .link-div{
    padding: 0 5vmin;
  }
}
/* lap-top 720px-1024px */
@media (min-width: 720px){

  /*hero-section*/
  .hero-section{
    display: flex;
    flex-direction: row-reverse;
    padding: 3vmin 5vmin 0 0;
  }
  .title-div{
    position: absolute;
    width: 50vmin;
    top: 25%;
    right: 4em;
    padding: 0 2vmin;
  }
  #solo-pic{
    margin: 5em;
    margin-right: 7em;
  }
  #title{
    font-size: 2.5em;
    line-height: 1em;
    text-align: left;
    padding-bottom: 1.5vmin;
  }
  .title-div p{
    position: absolute;
    font-size: 1em;
    text-align: justify;
  }
  /* group-pic */
  #img-div{
    padding: 5vmin 10vmin 2vmin 10vmin;
    font-size: 1.3em;
  }
  #image{
    padding-bottom: 1vmin;
  }
  #img-caption{
    font-size: 0.85em;
  }
  #tribute-info{
    font-size: 1.1em;
    margin: -2em 4em 4em 4em;
  }
  #time-line{
    font-size: 1.5em;
  }

  /*qoute-div*/
  .qoute-div{
    display: flex;
    margin: 4em 4em;
    padding: 10vmin 5vmin;
    align-items: center;
    justify-content: center;
  }
  .qoute{
    font-size: 1.2em;
    margin-left: -5vmin;
    text-align: left;
  }
  #prime-minster-image{
    height: 65vh;
    width: auto;
  }
  /*link-div*/
  .link-div{
    font-size: 1.1em;
  }
}

/* Desktop 1024px - 1200px */
@media (min-width: 1024px){

  /* hero-section */
  #solo-pic{
    margin-top: 10vmin;
    margin-right: 57vmin;
  }
  #solo-image{
    height: 95vmin;
  }
  .title-div{
    width: 55vmin;
    top: 30%;
    right: 20%;
    padding: 0 3vmin;
  }
  .title-div p{
    font-size: 1.3em;
  }
  #title{
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 1.5vmin;
  }
  /* time-line section */
  #time-line{
    font-size: 1.8em;
  }
  li{
    font-size: 1.1em;
  }
  #tribute-info{
    margin-right: 10em;
    margin-left: 10em;
    padding: 1.5em 3.5em;

  }
  /* group-pic */
  .group-pic{
    margin: 5em 5em;
  }
  #img-caption{
    padding: 1em 3em;
    font-size: 0.9em;
  }
  /* qoute-div section */
  .qoute-div{
    margin: 3em 9em;
  }
  #prime-minster-image{
    margin-left: 2em;
    height: 75vh;
  }
  .qoute{
    margin-top: -3em;
    text-align: left;
    font-size: 1.2em;
  }
  /* link-section */
  .link-div{
    margin: 5em 4em 4em 4em;
    font-size: 1.2em;
  }
}
